version: '3.5'
services:
  gs:
    build: ./gs
    image: jetty-gs
    volumes:
      - "${WEBAPP_DIR}:/var/lib/jetty/webapps"
      - "${LOG_DIR}/gs:/www/logs/tomcat.gs"
      - "${DEFAULT_CONFIGS_DIR}:/www/html/gs/ROOT/export"
    networks:
      - gs-network
    ports:
      - "8081:8080"
      - "6000:6000"
      - "6001:6001"
      - "9000:9000"
    environment:
      - CLUSTER_TYPE=${CLUSTER_TYPE}
    command: sh -c "echo DEBUG_START_GP3; ls -la /var/lib/jetty/webapps; /wait-for-cassandra-and-start.sh && java -DGS_SERVER_ID=1 -Xmx512m -Xdebug -agentlib:jdwp=transport=dt_socket,address=9000,server=y,suspend=n -Dcommon_log_level=DEBUG -jar /usr/local/jetty/start.jar"
    depends_on:
      - "c1"

  c1:
    build: ./cassandra
    image: cassandra-jmx:2.1.20
    volumes:
      - "${LOG_DIR}/cassandra:/var/log/cassandra"
      - "cassandra-data:/var/lib/cassandra"
    networks:
      gs-network:
        aliases:
          - c1.gsmp.lan
          - c2.gsmp.lan
          - c3.gsmp.lan
    environment:
      - MAX_HEAP_SIZE=800M
      - HEAP_NEWSIZE=300M
    ports:
      - "9142:9042"
      - "7199:7199"

  static:
    build: ./static
    image: static
    volumes:
      - "${STATIC_DIR}:/www/html/stat"
      - "${LOG_DIR}/nginx:/var/log/nginx/"
    ports:
      - "80:80"
    networks:
      - gs-network
    environment:
      - LOBBY_DOMAIN=${LOBBY_DOMAIN}
    depends_on:
      - "gs"

  mp-lobby:
    image: tomcat:8.5-jre8-alpine
    networks:
      gs-network:
        aliases:
          - mp-lobby.gsmp.lan
    ports:
      - "8080:8080"
      - "8082:8080"
    environment:
      - HOSTNAME=mp-lobby-local
      - SERVER_VM_IP=172.18.0.10
    volumes:
      - "${WEBAPP_DIR}/mp-lobby:/usr/local/tomcat/webapps"
    depends_on:
      - "c1"
      - "kafka"
      - "zookeeper"

  zookeeper:
    image: zookeeper:3.9
    networks:
      gs-network:
        aliases:
          - zookeeper1.gsmp.lan
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka:2.12-2.4.1
    networks:
      gs-network:
        aliases:
          - kafka1.gsmp.lan
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka1.gsmp.lan
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    depends_on:
      - zookeeper

networks:
  gs-network:
    driver: bridge

volumes:
  cassandra-data:
