version: '3.5'
services:
  gs:
    build: ./gs
    image: jetty-gs
    volumes:
      - "${WEBAPP_DIR}:/var/lib/jetty/webapps"
      - "${LOG_DIR}/gs:/www/logs/tomcat.gs"
      - "${DEFAULT_CONFIGS_DIR}:/www/html/gs/ROOT/export"
    networks:
      - gs-network
    ports:
      - "8081:8080"
      - "6000:6000"
      - "6001:6001"
      - "9000:9000"
    environment:
      - CLUSTER_TYPE=${CLUSTER_TYPE}
      - kafka.hosts=kafka:9092
      - kafka.topic.send.to.mp=gs-send-to-mp
      - kafka.topic.reply.from.mp=gs-reply-from-mp
      - kafka.topic.receive.from.mp=gs-receive-from-mp
      - kafka.topic.reply.to.mp=gs-reply-to-mp
      - kafka.topic.send.in-service=gs-send-in-service
      - kafka.topic.reply.in-service=gs-reply-in-service
      - kafka.timeout.ms=15000
    command: sh -c "echo DEBUG_START_GP3; ls -la /var/lib/jetty/webapps; /wait-for-cassandra-and-start.sh && java -DGS_SERVER_ID=1 -Dkafka.hosts=kafka:9092 -Dkafka.topic.send.to.mp=gs-send-to-mp -Dkafka.topic.reply.from.mp=gs-reply-from-mp -Dkafka.topic.receive.from.mp=gs-receive-from-mp -Dkafka.topic.reply.to.mp=gs-reply-to-mp -Dkafka.topic.send.in-service=gs-send-in-service -Dkafka.topic.reply.in-service=gs-reply-in-service -Dkafka.timeout.ms=15000 -Xmx512m -Xdebug -agentlib:jdwp=transport=dt_socket,address=9000,server=y,suspend=n -Dcommon_log_level=DEBUG -Dorg.eclipse.jetty.annotations.maxWait=300 -jar /usr/local/jetty/start.jar"
    depends_on:
      - "c1"

  c1:
    build: ./cassandra
    image: cassandra-jmx:2.1.20
    volumes:
      - "${LOG_DIR}/cassandra:/var/log/cassandra"
      - "cassandra-data:/var/lib/cassandra"
    networks:
      gs-network:
        aliases:
          - c1.gsmp.lan
          - c2.gsmp.lan
          - c3.gsmp.lan
    environment:
      - MAX_HEAP_SIZE=800M
      - HEAP_NEWSIZE=300M
    ports:
      - "9142:9042"
      - "7199:7199"

  static:
    build: ./static
    image: static
    volumes:
      - "${STATIC_DIR}:/www/html/stat"
      - "${LOG_DIR}/nginx:/var/log/nginx/"
    ports:
      - "80:80"
    networks:
      - gs-network
    environment:
      - LOBBY_DOMAIN=${LOBBY_DOMAIN}
    depends_on:
      - "gs"

  mp-lobby:
    image: tomcat:8.5-jre8-alpine
    networks:
      gs-network:
        aliases:
          - mp-lobby.gsmp.lan
    ports:
      - "8080:8080"
      - "8082:8080"
    environment:
      - HOSTNAME=mp-lobby-local
      - SERVER_VM_IP=172.18.0.10
      - mpserver.domain=${LOBBY_DOMAIN}
      - mpserver.domain.servername=
      - logger.dir=/usr/local/tomcat/logs
      - server.port=8080
      - server.host=mp-lobby
      - server.jetty.host=mp-lobby
      - server.jetty.port=8080
      - server.jetty.webroot=/usr/local/tomcat/webapps
      - cluster.name=development
      - kafka.hosts=kafka:9092
      - kafka.topic.send.to.gs=gs-receive-from-mp
      - kafka.topic.reply.from.gs=gs-reply-to-mp
      - kafka.topic.receive.from.gs=gs-send-to-mp
      - kafka.topic.reply.to.gs=gs-reply-from-mp
      - kafka.topic.send.in-service=gs-send-in-service
      - kafka.topic.reply.in-service=gs-reply-in-service
      - kafka.topic.send.to.bs=mp-send-to-bs
      - kafka.topic.reply.from.bs=mp-reply-from-bs
      - zookeeper.connect=zookeeper:2181
      - zookeeper.pool-size=50
      - zookeeper.ttl-millis=3000
      - zookeeper.heartbeat-interval=500
      - zookeeper.server-id-path=/game_servers
      - zookeeper.server-id-pool-path=/game_servers_pool
      - google.cloud.bigquery.enabled=false
      - google.cloud.project.id=none
      - google.cloud.bigquery.dataset.name=none
      - google.cloud.bigquery.connect.timeout=1000
      - google.cloud.bigquery.valid.currencies=EUR,USD
      - canex.async.request.number.of.threads=10
      - room.state.monitor.enabled=false
      - room.state.monitor.period=1000
      - maxblastchampions.bg.private.startround.players.min=2
      - websocket.latency.interval.sec=30
      - websocket.latency.threshold.ms=500
      - websocket.latency.game.session.threshold.ms=1000
      - websocket.latency.standard.type.enabled=true
      - websocket.latency.ping.type.enabled=true
      - teststand.excludes=none
      - ticketed.draw.ssh.host=none
      - ticketed.draw.ssh.port=22
      - ticketed.draw.ssh.user=none
      - ticketed.draw.ssh.pass=none
      - ticketed.draw.upload.path=/tmp
      - mqb.botserver.thift.host=none
      - mqb.botserver.thift.port=9090
      - server.botDuels=false
    volumes:
      - "${WEBAPP_DIR}/mp-lobby:/usr/local/tomcat/webapps"
    depends_on:
      - "c1"
      - "kafka"
      - "zookeeper"

  zookeeper:
    image: zookeeper:3.9
    networks:
      gs-network:
        aliases:
          - zookeeper1.gsmp.lan
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka:2.12-2.4.1
    networks:
      gs-network:
        aliases:
          - kafka1.gsmp.lan
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka1.gsmp.lan
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    depends_on:
      - zookeeper

networks:
  gs-network:
    driver: bridge

volumes:
  cassandra-data:
