version: '3.5'
services:
  gs:
    build: ./gs
    image: jetty-gs
    volumes:
      - "${WEBAPP_DIR}:/var/lib/jetty/webapps"
      - "${LOG_DIR}/gs:/www/logs/tomcat.gs"
      - "${DEFAULT_CONFIGS_DIR}:/www/html/gs/ROOT/export"
    networks:
      - gs-network
    ports:
      - "81:8080"
      - "6000:6000"
      - "6001:6001"
      - "9000:9000"
    depends_on:
      - "c1"

  c1:
    image: "cassandra:2.1.20"
    volumes:
      - "${LOG_DIR}/cassandra:/var/log/cassandra"
      - "cassandra-data:/var/lib/cassandra"
    networks:
      - gs-network
    environment:
      - MAX_HEAP_SIZE=800M
      - HEAP_NEWSIZE=300M
    ports:
      - "9142:9042"

  static:
    build: ./static
    image: static
    volumes:
      - "${STATIC_DIR}:/www/html/stat"
      - "${LOG_DIR}/nginx:/var/log/nginx/"
    ports:
     - "80:80"
    networks:
     - gs-network
    depends_on:
     - "gs"

networks:
  gs-network:
    driver: bridge

volumes:
  cassandra-data: