<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.dgphoenix.casino.filters.log4j">
    <Appenders>
       <Console name="ERROR" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss,SSS} [ERROR] %-5p [%c{1} %t] - %msg%n%ex" />
        </Console>

        <Console name="COMMON" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss,SSS} [COMMON] %-5p [%c{1} %t] - %msg%n%ex" />
        </Console>

        <Console name="INIT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss,SSS} [INIT] %-5p [%c{1} %t] - %msg%n%ex" />
        </Console>

        <Console name="GameServletController" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss,SSS} [GameServletController] %-5p [%c{1} %t] - %msg%n%ex" />
        </Console>

        <Console name="ParameterBuilder" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss,SSS} [ParameterBuilder] %-5p [%c{1} %t] - %msg%n%ex" />
        </Console>

        <Console name="STATISTICS" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss,SSS} [STATISTICS] %-5p [%c{1} %t] - %msg%n%ex" />
        </Console>

        <Console name="Sanitizer" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss,SSS} [Sanitizer] %-5p [%c{1} %t] - %msg%n%ex"/>
        </Console>

        <Console name="Exception" target="SYSTEM_OUT">
            <!-- Custom filter -->
            <ExceptionNameFilter
                    exceptions="NullPointerException,OutOfMemoryError,ClassNotFoundException,NoSuchMethodError,NoSuchFieldError"
                    onMatch="ACCEPT"
                    onMismatch="DENY"
            />
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss,SSS} [Exception] %-5p [%c{1} %t] - %msg%n%ex"/>
        </Console>

        <Dynamic name="GAME_REAL">
            <Routes pattern="$${ctx:gameName}">
                <Route>
                    <Console name="GAME_REAL-${ctx:gameName}" target="SYSTEM_OUT">
                        <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss,SSS} [GAME_REAL-%X{gameName}] %-5p [%c{1} %t] - %msg%n%ex"/>
                    </Console>
                </Route>
            </Routes>
        </Dynamic>
        <Dynamic name="GAME_FREE">
            <Routes pattern="$${ctx:gameName}">
                <Route>
                    <Console name="GAME_FREE-${ctx:gameName}" target="SYSTEM_OUT">
                        <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss,SSS} [GAME_FREE-%X{gameName}] %-5p [%c{1} %t] - %msg%n%ex"/>
                    </Console>
                </Route>
            </Routes>
        </Dynamic>
    </Appenders>
    <Loggers>
        <Root level="error" additivity="false">
            <AppenderRef ref="ERROR"/>
        </Root>
        <Logger name="critical" level="ERROR" additivity="false">
            <AppenderRef ref="Exception" level="error" />
        </Logger>
        <Logger name="com.dgphoenix.casino.init.Initializer" level="DEBUG" additivity="false">
            <AppenderRef ref="INIT" level="DEBUG" />
            <AppenderRef ref="COMMON" level="DEBUG" />
            <AppenderRef ref="ERROR" level="error" />
        </Logger>
        <Logger name="com.dgphoenix.casino" level="DEBUG" additivity="false">
            <AppenderRef ref="COMMON" level="DEBUG" />
            <AppenderRef ref="ERROR" level="error" />
        </Logger>
        <Logger name="client.v2.RESTCWClient" level="DEBUG" additivity="false">
            <AppenderRef ref="COMMON" level="DEBUG" />
            <AppenderRef ref="ERROR" level="error" />
        </Logger>
        <Logger name="com.dgphoenix.casino.support.ParameterBuilder"
                level="DEBUG" additivity="false">
            <AppenderRef ref="ParameterBuilder" level="DEBUG" />
        </Logger>

        <Logger name="GAME_REAL" level="DEBUG" additivity="false">
            <AppenderRef ref="GAME_REAL" level="DEBUG" />
            <AppenderRef ref="ERROR" level="error" />
        </Logger>

        <Logger name="GAME_FREE" level="DEBUG" additivity="false">
            <AppenderRef ref="GAME_FREE" level="DEBUG" />
            <AppenderRef ref="ERROR" level="error" />
        </Logger>

        <Logger name="SystemDiagnosisServlet.StatisticsLogger" level="INFO" additivity="false">
            <AppenderRef ref="STATISTICS" level="INFO" />
        </Logger>

        <Logger name="com.dgphoenix.casino.filters.XssSanitizerRequestWrapper" level="INFO" additivity="false">
            <AppenderRef ref="Sanitizer" level="INFO" />
        </Logger>

    </Loggers>
</Configuration>
