body {
    background-color: #EEEEEE;
    margin: 8px;
}

.datagrid {
    font: normal 14px/150% Georgia;
    background: #F5F5F5;
    overflow: hidden;
}

.datagrid table {
    border-collapse: collapse;
}

.datagrid title {
    background-color: #E5E5E5;
    border: 1px solid #767676;
    color: #363636;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.datagrid table thead th {
    border: 1px solid #767676;
    color: #363636;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #E5E5E5;
}

.infogrid table tbody td {
    color: #4F4F4F;
    border: 1px solid #767676;
    font-family: Times New Roman, serif;
    font-size: 11pt;
    font-weight: normal;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;

    cursor: default;
}

.datagrid table tfoot td {
    padding: 0;
    font-size: 14px;
    font-weight: bold;
}

.class_button {
    font-family: Georgia, serif;
    color: #ffffff;
    font-size: 14px;
}

.button_close {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    background: #3A3A3A;
    cursor: pointer;
    border: 1px solid white;
    text-decoration: none;
    padding: 0 6px;
}

html body div#ascrail2000.nicescroll-rails div {
    background: #000000;
}

#global_table {
    border-collapse: collapse;
    margin: 0 auto;
    position: relative;
}

#canvas_window {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}