
.jackpots-carousel {
    position: relative;
    display: block;
    height: 310px;
    padding: 10px 0;
    width: 114px;
    background: none;
    border: 0;
    border-radius: 0;
}

.jackpots-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.jackpots-list {
    position: relative;
    margin: 0;
}

.jackpots-load-error {
    color: white;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}