.jcarousel-skin-jackpot .jcarousel-container {
    background: none;
    border: 0;
    border-radius: 0;
}

.jcarousel-skin-jackpot .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-jackpot .jcarousel-container-horizontal {
    width: 245px;
    padding: 20px 40px;
}

.jcarousel-skin-jackpot .jcarousel-container-vertical {
    height: 370px;
    padding: 10px 10px 10px 10px;
    width: 230px;
}

.jp_r{
    font-size: 16px;
    color: #fff;
    width:50%;
    height: 50px;
    float:left;
    text-align: right;
    vertical-align: middle;
    line-height: 50px;
    margin-left: -15px;
}

.jp_l{
    width:50%;
    float:left;
    text-align: left;
    vertical-align: middle;
}

.jcarousel-skin-jackpot .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-jackpot .jcarousel-clip-horizontal {
    width:  245px;
    height: 25px;
}

.jcarousel-skin-jackpot .jcarousel-clip-vertical {
    height: 370px;
    width: 100%;
    margin-bottom: 10px;
}

.jcarousel-skin-jackpot .jcarousel-item {
    width: 175px;
    height: 25px;
}

.jcarousel-skin-jackpot .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-jackpot .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-jackpot .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-jackpot .jcarousel-item-placeholder {
     background: none;
     color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-jackpot .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent none;
}

.jcarousel-skin-jackpot .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: none;
}

.jcarousel-skin-jackpot .jcarousel-next-horizontal:hover,
.jcarousel-skin-jackpot .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-jackpot .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-jackpot .jcarousel-next-disabled-horizontal,
.jcarousel-skin-jackpot .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-jackpot .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-jackpot .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-jackpot .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: none;
}

.jcarousel-skin-jackpot .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: none;
}

.jcarousel-skin-jackpot .jcarousel-prev-horizontal:hover,
.jcarousel-skin-jackpot .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-jackpot .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-jackpot .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-jackpot .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-jackpot .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-jackpot .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-jackpot .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: none;
}

.jcarousel-skin-jackpot .jcarousel-next-vertical:hover,
.jcarousel-skin-jackpot .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-jackpot .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-jackpot .jcarousel-next-disabled-vertical,
.jcarousel-skin-jackpot .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-jackpot .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-jackpot .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-jackpot .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: none;
}

.jcarousel-skin-jackpot .jcarousel-prev-vertical:hover,
.jcarousel-skin-jackpot .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-jackpot .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-jackpot .jcarousel-prev-disabled-vertical,
.jcarousel-skin-jackpot .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-jackpot .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-jackpot .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}