.help {
	margin-top: -10px;
}

.timerText {
	margin-top: -8px;
}

.timer {
	margin: 0 auto;
	font-size: 16px;
}

.paytable_container
{
	padding: 0;
	margin: 0 auto;
	font-size: 12px;
	font-family: "fnt_nm_barlow";
	font-weight: 100;
	letter-spacing: 0.03em;
	color: #ffffff;
	line-height: 1.5;
	overflow: hidden;
}

.paytable_container span {
	display: block;
	-webkit-text-size-adjust: 100%;
}

/*MAIN SECTIONS, BLOCKS... */

.paytable_container div[section] {
	padding: 40px 40px;
}

.paytable_container div[block],
.paytable_container span[block]  {
	padding: 40px 0;
}

.paytable_container .grey_section {
	background-color: rgba(255, 255, 255, 0.1);	
}
/*...MAIN SECTIONS, BLOCKS*/


/* MAIN ALIGNMENTS... */
.paytable_container .center
{
	text-align: center;	
}

.paytable_container .left
{
	text-align: left;
}

.paytable_container .right
{
	text-align: right;
}

.paytable_container .vertical_centered_outer {
	position: relative;
}

.paytable_container .vertical_centered_inner {
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	white-space: nowrap;
}
/* ...MAIN ALIGNMENTS */


/* MAIN OFFSETS... */
.paytable_container .vertical_offset_60 {
	min-height: 60px;
}

.paytable_container .vertical_offset_45 {
	min-height: 45px;
}

.paytable_container .vertical_offset_20 {
	min-height: 20px;
}
/* ...MAIN OFFSETS*/


/* MAIN TEXTS STYLES... */
/*** FONT SIZES... ***/
.paytable_container .header {
	font-size: 31px;
}

.paytable_container .big_header {
	font-size: 26px;
	padding-top: 10px;
	font-family: "fnt_nm_barlow_semibold";
	-webkit-transform: translateZ(0);
}

.paytable_container .description_bold {
	display: inline;
	font-family: "fnt_nm_barlow_bold";
	color: white;
}

/*** ...FONT SIZES ***/

/*** FONT COLORS... ***/
.paytable_container .orange {
	color: #fccc32;
}

.paytable_container .light_grey {
	color: #acacac;
}
/*** ...FONT COLORS ***/

/*...MAIN TEXTS STYLES*/


/* PAYOUTS STYLE... */
.paytable_container .payout_outer {
	width: 95px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	position: relative;
}

/* ...PAYOUTS STYLE */


.paytable_container .section_5 .payout_outer {
	width: 130px;
	height: 57px;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
}

.paytable_container .section_6 .payout_outer {
	width: 115px;
	height: 57px;
	background-color: rgba(255, 255, 255, 0.1);
	position: relative;
}


/*PAGES SPECIFIC...*/
#how_to_play,
#enemies,
#enemies2,
#mega_enemies,
#enemy_entourage,
#bosses,
#capsules,
#turret,
#kills{
	margin-top: 3px;
}

#noSkillNecessaryDescriptionElement .max_shots_value,
#noSkillNecessaryDescriptionElement .shots_text {
	display: inline;
}

#how_to_play .row{
	padding-left: 40px;
	padding-right: 40px;
	margin-top: -5px;
}

#how_to_play .title{
	position: relative;
	font-family: "fnt_nm_barlow_semibold";
	font-size: 12px;
	padding: 10px;
	padding-top: 5px;
}

#how_to_play .icon{
	margin-top: -22px;
}

#how_to_play .weapon_indicator{
	position: absolute;
	margin-top: 38px;
}

#how_to_play .description {
	font-size: 10px;
	font-family: "fnt_nm_barlow_regular";
	margin-top: -130px;
	text-align: justify;
	padding-left: 30px;
	padding-right: 40px;
	padding-bottom: 30px;
	width: 290px;
}

#how_to_play .bottom_description{
	text-align: center;
	margin-top: 4px;
}

#enemies2 .enemy,
#enemies .enemy {
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
	margin-top: 5px;
	display: inline-block !important;
}

#mega_enemies .enemy {
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
	margin-top: 5px;
	display: inline-block;
}

#mega_enemies .enemy_capture {
	font-size: 16px;
	color: #ffc70f;
}

#enemies2 .gun ,
#enemies .gun {
	position: absolute;
	margin-top: -30px;
	margin-left: -8px;
}

#enemies2 .gun_capture ,
#enemies .gun_capture {
	position: absolute;
	font-family: "fnt_nm_barlow_bold";
	font-size: 10px;
	width: 99px;
	margin-top: 35px;
	margin-left: -6px;
	color: #acacac;
}

#mega_enemies .row {
	align-items: center;
	justify-content: center;
	margin-left: 15px;
	padding-bottom: 15px;
}

#enemies2 .row,
#enemies .row {
	align-items: center;
	justify-content: center;
	margin-left: 15px;
	margin-top: 5px;
	padding-bottom: 5px;
}

#enemies2 .enemy_capture ,
#enemies .enemy_capture {
	position: absolute;
	font-family: "fnt_nm_barlow_semibold";
	font-size: 7.5px;
	width: 106px;
	margin-top: 8px;
	margin-left: 5px;
	text-shadow: black 0 1px 3px;
	text-align: center;
} 

#enemies2 .enemy_HP_block ,
#enemies .enemy_HP_block {
	position: relative;
	width: 105px;
	margin-top: -38px;
}

#enemies .col-9,
#mega_enemies .col-9 {
	width: 75%;
	margin-top: -15px;
}

#enemies2 .col-9 {
	width: 90%;
	margin-top: -15px;
}

#enemies2 .enemy_info{
	position: absolute;
	margin-top: 5px;
	text-align: center;
}

#enemies .enemy_info {
	position: absolute;
	margin-top: 9px;
	text-align: center;
}

#enemies2 .enemy_info_capture{
	position: absolute;
	font-family: "fnt_nm_barlow_regular";
	color: #c9ffa0;
	font-size: 8px;
	width: 110px;
	line-height: 9px;
	margin-left: -3px;
	margin-top: -2px;
	text-align: center;
}

#enemies .enemy_info_capture {
	position: absolute;
	font-family: "fnt_nm_barlow_regular";
	color: #c9ffa0;
	font-size: 8px;
	width: 110px;
	line-height: 9px;
	text-align: center;
}

#enemies2 .rare_label ,
#enemies .rare_label {
	font-family: "fnt_nm_barlow_bold";
	margin-top: -49px;
	margin-left: 73px;
	font-size: 9px;
	color: black;
}
#enemies2 .enemy_rare_payout {

	font-family: "fnt_nm_barlow_bold";
	font-size: 9px;
	text-shadow: black 0 1px 3px;
	position: relative;
	color: #e2fbbf;
	white-space: nowrap;
	margin-top: 6px;
}

#enemies2 .enemy_payout ,
#enemies .enemy_payout {
	font-family: "fnt_nm_barlow_bold";
	font-size: 12px;
	position: relative;
	color: #ffffff;
	white-space: nowrap;
	margin-top: 12px;
	left: 5px;
}

#enemies .enemy_values_text,
#enemies2 .enemy_values_text,
#mega_enemies .enemy_values_text{
	font-family: "fnt_nm_barlow_bold";
	color: #acacac;
	font-size: 11px;
	text-shadow: black 0 1px 3px;
	text-align: center;
	display: inline-block;
	width: 80px;
}

.enemy_values_text_coin{
	font-family: "fnt_nm_barlow_bold";
	color: #acacac;
	font-size: 11px;
	text-shadow: black 0 1px 3px;
	text-align: center;
	position: relative;
	left: 32px;
	top: 155px;
	width:150px;
	transform: translate(-50%, 100%);
	vertical-align: top;
	line-height: 13px;
}

#enemies #stake_indicator_text,
#enemies2 #stake_indicator_text,
#mega_enemies #stake_lb_indicator_text{
	display: inline;
	color: #ffc70f;
}

#enemies #stake_bet_level_value, 
#enemies2 #stake_2_bet_level_value,
#mega_enemies #stake_lb_bet_level_value {
	display: inline-block;
	color: #fccc32;
}

#mega_enemies.row{
	align-items: center;
	justify-content: center;
	margin-top: -20px;
}


#mega_enemies .description {
	font-size: 11px;
	font-family: "fnt_nm_barlow_bold";
	line-height: 18px;
	text-align: center;
	margin-left: 49px;
	margin-right: 49px;
	margin-top: 8px;
	margin-bottom: 30px;
}

#mega_enemies .boss{
	position: absolute;
	margin-left: 260px;
	margin-top: -58px;
}

#mega_enemies .boss_capture {
	position: absolute;
	font-family: "fnt_nm_barlow_bold";
	color: #ffffff;
	font-size: 9px;
	margin-top: -257px;
	margin-left: 340px;
	text-align: right;
	letter-spacing: 1px;
}

#mega_enemies .back_effect{
	margin-top: 23px;
	margin-left: 67px;
}

#mega_enemies .sapphire{
    margin-top: -33px;
    margin-left: 128px;
}

#mega_enemies .emerald{
    margin-top: -62.5px;
    margin-left: 301px;;
}

#mega_enemies .ruby{
    margin-top: -62px;
    margin-left: 490px;
}

#mega_enemies .diamond{
	margin-top: -62px;
    margin-left: 629px;
}

#mega_enemies .sapphire_caption{
	font-size: 15px;
	margin-top: -17px;
	padding-left: 103px;
	font-family: "fnt_nm_barlow_bold";
}

#mega_enemies .emerald_caption{
	font-size: 15px;
	margin-top: -4px;
	padding-left: 103px;
	font-family: "fnt_nm_barlow_bold";
}

#mega_enemies .ruby_caption{
	font-size: 15px;
	margin-top: -14px;
	padding-left: 103px;
	font-family: "fnt_nm_barlow_bold";
}

#mega_enemies .diamond_caption{
	font-size: 15px;
	margin-top: -24px;
	padding-left: 103px;
	font-family: "fnt_nm_barlow_bold";
}

#mega_enemies .gem_paid_0{
	font-size: 15px;
	font-family: "fnt_nm_barlow_bold";
    width: 87px;
    text-align: center;
	padding-left: 119px;
}

#mega_enemies .gem_paid_1{
	font-size: 15px;
	font-family: "fnt_nm_barlow_bold";
    width: 111px;
    text-align: center;
	padding-left: 119px;
}

#mega_enemies .gem_paid_2{
	font-size: 15px;
	font-family: "fnt_nm_barlow_bold";
    width: 83px;
    text-align: center;
	padding-left: 105px;
}

#mega_enemies .gem_paid_3{
	font-size: 15px;
	font-family: "fnt_nm_barlow_bold";
    width: 108px;
    text-align: center;
	padding-left: 119px;
}

#mega_enemies .gems{
    margin-top: -317px;
    margin-left: 137px;
}

#mega_enemies .enemy_payout {
	position: absolute;
	font-family: "fnt_nm_barlow_bold";
	color: #ffffff;
	font-size: 18px;
	width: 265px;
	margin-top: 20px;
	text-align: center;
	line-height: 10px
}

#bosses .enemy_payout {
	position: absolute;
	font-family: "fnt_nm_barlow_bold";
	color: #ffffff;
	font-size: 18px;
	line-height: 18px
}

#mega_enemies .enemy_values_block{
	position: absolute;
	margin-top: 84px;
	margin-left: 0px;
}


#mega_enemies .description_specific{
	font-size: 10px;
	font-family: "fnt_nm_barlow_bold";
	line-height: 17px;
	text-align: center;
	color: #acacac;
	margin-top: 245px;
}


#turret .description {
	font-size: 11px;
	font-family: "fnt_nm_barlow_bold";
	text-align: center;
	line-height: 16pt;
	margin-top: 30px;
	line-height: 11pt;
}

#turret .texture{
	position: absolute;
	z-index: -1;
	transform: scale(2.035);
	margin-top: 121px;
	margin-left: 235px;
}

#turret .turret{
	margin-top: 20px;
	text-align: center;
}

#turret #back{
	position: absolute;
	z-index: -1;
	transform: scale(2.03);
	margin-left: 467px;
	margin-top: 240px;
}

#enemy_entourage .screenshot
{
	margin-top: 20px;
	margin-bottom: 15px;
}

#enemy_entourage .row{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 90px;
	justify-content: center;
}

#enemy_entourage .enemy_payout {
	font-size: 18px;
	margin-top: 10px;
}

#kills .screenshot{
	margin-top: -60px;
	margin-bottom: -20px;
	width: 371px;
    height: 336px;
    margin-left: auto;
    margin-right: auto;
}

#kills .row{
	padding-right: 25px;
	padding-left: 25px;
	justify-content: center;
}

#kills #back{
	position: absolute;
	z-index: -1;
	transform: scale(1.015);
	margin-left: 7px;
	margin-top: -36px;
}

#mobile_controls_1 #back,
#controls_2 #back,
#controls_1 #back{
	position: absolute;
	z-index: -1;
	transform: scale(1.015);
	margin-left: 7px;
	margin-top: 4px;
}


#mobile_controls_1 .line,
#controls_2 .line,
#controls_1 .line{
	border-right: 1px solid white;
	height: 346px;
	position: absolute;
	margin-left: 225px;
	opacity: 0.2;
}

#mobile_controls_1 .line_weight,
#controls_1 .line_weight{
	border-right: 1px solid white;
	height: 346px;
	position: absolute;
	margin-left: 275px;
	opacity: 0.2;
}


#controls_1 .line{
	margin-left: 220px;
}

#controls_1 .line_weight{
	margin-left: 270px;
}

#controls_1 .line_weight_less{
	border-right: 1px solid white;
	height: 346px;
	position: absolute;
	margin-left: 262px;
	opacity: 0.2;
}

#mobile_controls_1 .row,
#controls_2 .row,
#controls_1 .row{
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

#mobile_controls_1 .title,
#controls_2 .title,
#controls_1 .title{
	text-align: left;
	display: flex;
}

#mobile_controls_1 .title_capture,
#controls_2 .title_capture,
#controls_1 .title_capture{
	font-family: "fnt_nm_barlow_semibold";
	color: white;
	font-size: 12px;
	margin-top: 4px;
}

#mobile_controls_1 .description,
#controls_2 .description,
#controls_1 .description{
	text-align: left;
	font-family: "fnt_nm_barlow_regular";
	font-size: 11px;
	margin-top: 6px;
}

#controls_2 .row_content
{
	padding: 12px;
}

#controls_1 .row_content
{
	padding-top: 12px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 42px;
}

#mobile_controls_1 .row_content
{
	padding: 20px 70px;
}

#mobile_controls_1 .cost_value_description,
#controls_1 .cost_value_description{
	font-size: 12px;
	z-index: 5;
	text-shadow: 
	0px 1px #383838, 0px .5px #383838,
	1px 1px #383838, 1px .5px #383838,
	-1px 1px #383838, -1px .5px #383838,
	
	0px 2px black, 0px 1.5px black,
	1px 2px black, 1px 1.5px black,
	2px 2px black, 2px 1.5px black,
	-2px 2px black, -2px 1.5px black,
	0px 3px black, 0px 2.5px black,
	1px 3px black, 1px 2.5px black,
	2px 3px black, 2px 2.5px black,
	-2px 3px black, -2px 2.5px black;
	text-align: center;
	font-family: "fnt_nm_barlow_bold";
}
#controls_1 .controls_paid_0{
	margin-top: -23px;
	margin-left: -13px;
}

#controls_1 .controls_paid_1{
	margin-top: -73px;
	margin-left: -43px;
}

#controls_1 .controls_paid_2{
	margin-top: -31px;
	margin-left: -43px;
}

#controls_1 .controls_paid_3{
	margin-top: -23px;
	margin-left: -32px;
}

#controls_1 .controls_paid_4{
	margin-top: -55px;
	margin-left: -35px;
}

#controls_1 .controls_paid_5{
	margin-top: -26px;
	margin-left: -3px;
}

#mobile_controls_1 .controls_mobile_paid_0{
	margin-top: -23px;
	margin-left: -13px;
}

#mobile_controls_1 .controls_mobile_paid_1{
	margin-top: -73px;
	margin-left: -43px;
}

#mobile_controls_1 .controls_mobile_paid_2{
	margin-top: -31px;
	margin-left: -44px;
}

#mobile_controls_1 .controls_mobile_paid_3{
	margin-top: -23px;
	margin-left: -32px;
}

#mobile_controls_1 .controls_mobile_paid_4{
	margin-top: -55px;
	margin-left: -35px;
}

#mobile_controls_1 .controls_mobile_paid_5{
	margin-top: -26px;
	margin-left: -3px;
}

#mobile_controls_1 .weapon_capture,
#controls_1 .weapon_capture {
	position: absolute;
	margin-top: 0px;
	margin-left: 112px;
	text-align: left;
}

#mobile_controls_1 .weapon_description,
#controls_1 .weapon_description {
	position: absolute;
	margin-top: 40px;
	margin-left: 112px;
	width: 130px;
}

#mobile_controls_1 .turret_img,
#controls_1 .turret_img {
	width: 88px;
	margin-top: 26px;
	margin-left: -30px;
}

#controls_2 .description_italic {
	display: inline;
	font-family: "fnt_nm_barlow_italic";
}
/*...PAGES SPECIFIC*/

/* ADDITIONAL... */
.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#controls_1 .col-1 {width: 15%;}
#controls_1 .col-2 {width: 25%;}
#controls_1 .col-3 {width: 30%;}

/* ...ADDITIONAL*/