---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mq-gs
  namespace: legacy
data:
  ENV: 'dev01'
  KAFKA_HOSTS: 'kafka1.gsmp.lan:9092'
  KAFKA_TOPIC_SEND_TO_MP: 'to_mp_topic'
  KAFKA_TOPIC_REPLY_FROM_MP: 'to_mp_topic_response'
  KAFKA_TOPIC_RECEIVE_FROM_MP: 'to_gs_topic'
  KAFKA_TOPIC_REPLY_TO_MP: 'to_gs_topic_response'
  KAFKA_TOPIC_SEND_IN_SERVICE: 'from_gs_to_gs_topic'
...
