body {
    font: 16px sans-serif;
}

.button {
    background-color: coral;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid gray;
    cursor: pointer;
    user-select: none;
    margin-right: 3px;
    float: left;
}

.reset {
    float: right;
}

textarea {
    width: 100%;
    height: 300px;
    background-color: antiquewhite;
    color: #212121;
}

label {
    display: block;
    margin: 10px 0;
    width: 300px;
}
label > input {
    float: right;
}

h4 {
    margin-top: 40px;
}

.block {
    float: left;
}

.map {
    width: 1600px;
}

.map img {
    width: 100%;
}

#bg, #head {
    display: none;
}

canvas {
    width: 1600px;
    height: 999px;
}