.help {
	margin-top: -10px;
}

.paytable_container
{
	padding: 0;
	margin: 0 auto;
	font-size: 12px;
	font-family: "fnt_nm_barlow";
	font-weight: 100;
	letter-spacing: 0.03em;
	color: #ffffff;
	line-height: 1.5;
	overflow: hidden;
}

.paytable_container span {
	display: block;
	-webkit-text-size-adjust: 100%;
}

/*MAIN SECTIONS, BLOCKS... */

.paytable_container div[section] {
	padding: 40px 40px;
}

.paytable_container div[block],
.paytable_container span[block]  {
	padding: 40px 0;
}

.paytable_container .grey_section {
	background-color: rgba(255, 255, 255, 0.1);	
}
/*...MAIN SECTIONS, BLOCKS*/


/* MAIN ALIGNMENTS... */
.paytable_container .center
{
	text-align: center;	
}

.paytable_container .left
{
	text-align: left;
}

.paytable_container .right
{
	text-align: right;
}

.paytable_container .vertical_centered_outer {
	position: relative;
}

.paytable_container .vertical_centered_inner {
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	white-space: nowrap;
}
/* ...MAIN ALIGNMENTS */


/* MAIN OFFSETS... */
.paytable_container .vertical_offset_60 {
	min-height: 60px;
}

.paytable_container .vertical_offset_45 {
	min-height: 45px;
}

.paytable_container .vertical_offset_20 {
	min-height: 20px;
}
/* ...MAIN OFFSETS*/


/* MAIN TEXTS STYLES... */
/*** FONT SIZES... ***/
.paytable_container .header {
	font-size: 31px;
}

.paytable_container .big_header {
	font-size: 26px;
	padding-top: 10px;
	font-family: "fnt_nm_barlow_semibold";
	-webkit-transform: translateZ(0);
}

.paytable_container .description_bold {
	display: inline;
	font-family: "fnt_nm_barlow_bold";
	color: white;
}

/*** ...FONT SIZES ***/

/*** FONT COLORS... ***/
.paytable_container .orange {
	color: #f6921e;
}

.paytable_container .light_grey {
	color: #acacac;
}
/*** ...FONT COLORS ***/

/*...MAIN TEXTS STYLES*/


/* PAYOUTS STYLE... */
.paytable_container .payout_outer {
	width: 95px;
	height: 47px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	position: relative;
}

/* ...PAYOUTS STYLE */


.paytable_container .section_5 .payout_outer {
	width: 130px;
	height: 57px;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}

.paytable_container .section_6 .payout_outer {
	width: 115px;
	height: 57px;
	background-color: rgba(255, 255, 255, 0.1);
	margin-top: 30px;
	margin-bottom: 20px;
	position: relative;
}


/*PAGES SPECIFIC...*/
#legendary_bosses,
#unstable_avatar,
#how_to_play,
#enemie_hp_and_victory,
#special_enemies,
#money_wheel,
#kills{
	margin-top: 5px;
}

#noSkillNecessaryDescriptionElement .max_shots_value {
	display: inline;
}

#enemies {
	margin-top: 2px;
}

#how_to_play .row{
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 2px;
}

#how_to_play .title{
	font-family: "fnt_nm_barlow_semibold";
	font-size: 12px;
	padding: 10px;
	padding-top: 5px;
}

#how_to_play .icon{
	margin-top: -12px;
}

#how_to_play .weapon_indicator{
	position: absolute;
	margin-top: 38px;
}

#how_to_play .description {
	font-size: 10px;
	font-family: "fnt_nm_barlow_regular";
	margin-top: -155px;
	text-align: justify;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

#how_to_play .bottom_description{
	text-align: center;
	margin-top: 4px;
}

#enemie_hp_and_victory .screen{
	text-align: center;
	margin-top: -50px;
	margin-left: 100px;
}

#enemie_hp_and_victory .text_block {
	margin-top: -30px;
}

#enemie_hp_and_victory .description {
	font-size: 11.5px;
	font-family: "fnt_nm_barlow_bold";
	line-height: 14px;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 7px;
}

#enemie_hp_and_victory .special_wepon{
	text-align: center;
	margin-top: -24px;
}

#enemies .enemy {
	text-align: center;
	margin-left: 3px;
	margin-right: 3px;
	display: inline-block;
}

#enemies .gun {
	position: absolute;
	margin-top: -66px;
	margin-left: -8px;
}

#enemies .gun_capture {
	position: absolute;
	font-family: "fnt_nm_barlow_bold";
	font-size: 10px;
	width: 99px;
	margin-top: 35px;
	margin-left: -6px;
	color: #acacac;
}

#enemies .row{
	align-items: center;
	justify-content: center;
	margin-top: -2px;
}

#enemies .enemy_capture {
	position: absolute;
	font-family: "fnt_nm_myriadpro_regular";
	font-size: 8.6px;
	width: 99px;
	margin-top: 78px;
	text-shadow: black 0 1px 3px;
	text-align: center;
}

#enemies .enemy_HP_block {
	position: absolute;
	width: 98px;
	margin-top: -127px;
	text-align: center;
}

#enemies .enemy_hp_capture {
	position: absolute;
	font-family: "fnt_nm_barlow_bold";
	color: #fff;
	font-size: 8px;
	width: 99px;
	margin-top: 92px;
	text-shadow: black 0 1px 3px;
	text-align: center;
}

#enemies .hp_value {
	display: inline;
}

#enemies .enemy_payout {
	position: absolute;
	margin-top: 107px;
	text-align: center;
	font-family: "fnt_nm_barlow_bold";
	color: #ffe295;
	font-size: 10.5px;
	text-shadow: black 0 1px 3px;
	line-height: 8px;
	white-space: nowrap;
	left: 50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

#enemies .enemy_values_text,
#special_enemies .enemy_values_text,
#legendary_bosses .enemy_values_text
{
	font-family: "fnt_nm_barlow_bold";
	color: #acacac;
	font-size: 11px;
	text-shadow: black 0 1px 3px;
	text-align: center;
	display: inline-block;
	width: 80px;
}

#enemies #stake_indicator_text, 
#special_enemies #stake_se_indicator_text,
#legendary_bosses #stake_lb_indicator_text{
	display: inline;
	color: #ffb908;
}

#enemies #stake_bet_level_value, 
#special_enemies #stake_se_bet_level_value,
#legendary_bosses #stake_lb_bet_level_value {
	display: inline-block;
	color: #ffb908;
}

#special_enemies .enemy_values_block{
	position: absolute;
	margin-top: 108px;
	margin-left: 38.5px;
}

#special_enemies .texture{
	position: absolute;
	z-index: -1;
	transform: scale(2.035);
	margin-top: 117px;
	margin-left: 235px;
}

#special_enemies .gun{
	position: absolute;
	margin-top: 82px;
	margin-left: 30px;
}

#special_enemies .gun_capture {
	position: absolute;
	font-family: "fnt_nm_barlow_bold";
	font-size: 10px;
	width: 99px;
	margin-top: 183px;
	margin-left: 32.5px;
	color: #acacac;
}

#special_enemies .infernal_forgemaster{
	position: absolute;
	margin-top: -50px;
	margin-left: 25px;
}

#special_enemies .unstable_avatar{
	position: absolute;
	margin-top: -54px;
	margin-left: 253px;
	z-index: -1;
}


#special_enemies .infernal_forgemaster_max_hp
{
	position: absolute;
	margin-top: -325px;
	margin-left: 143px;
	width: 200px;
	text-align: right;
	font-family: "fnt_nm_barlow_bold";
	font-size: 11px;
	text-shadow: black 0 1px 3px;
	color: #e3e3e3;
}

#special_enemies .hp_value {
	display: inline;
}

#special_enemies .infernal_forgemaster_text
{
	position: absolute;
	margin-top: -116px;
	margin-left: 56px;
	width: 300px;
}

#special_enemies .infernal_forgemaster_capture{
	font-family: "fnt_nm_barlow_semibold";
	color: #ffe295;
	font-size: 14px;
	text-shadow: black 0 1px 3px;
	text-align: center;
}

#special_enemies .infernal_forgemaster_specific{
	font-family: "fnt_nm_barlow";
	color: #e3e3e3;
	font-size: 9px;
	text-shadow: black 0 1px 3px;
	text-align: center;
}

#special_enemies .enemy_payout{
	font-family: "fnt_nm_barlow_bold";
	color: #ffe295;
	font-size: 11px;
	text-shadow: black 0 1px 3px;
	text-align: center;
	line-height: 10px;
}

#special_enemies .unstable_avatar_text
{
	position: absolute;
	margin-top: -150px;
	margin-left: 119px;
	width: 300px;
}

#special_enemies .unstable_avatar_capture{
	font-family: "fnt_nm_barlow_semibold";
	color: #ffe295;
	font-size: 14px;
	text-shadow: black 0 1px 3px;
	text-align: center;
}

#special_enemies .unstable_avatar_specific{
	font-family: "fnt_nm_barlow";
	color: #e3e3e3;
	font-size: 9px;
	text-shadow: black 0 1px 3px;
	text-align: center;
}

#legendary_bosses .row{
	align-items: center;
	justify-content: center;
	margin-top: -20px;
}


#legendary_bosses .description {
	font-size: 11px;
	font-family: "fnt_nm_barlow_bold";
	line-height: 19px;
	text-align: center;
	margin-left: 49px;
	margin-right: 49px;
}

#legendary_bosses .boss{
	position: absolute;
	margin-left:  -20px;
	margin-right:  -20px;
	margin-top:  0px;
}

#legendary_bosses .boss_capture {
	position: absolute;
	font-family: "fnt_nm_barlow_bold";
	font-size: 10px;
	margin-top: 224px;
	text-shadow: black 0 3px 2px;
	text-align: left;
	width: 327.5px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-left: 27px;
}

#legendary_bosses .boss_description {
	position: absolute;
	font-family: "fnt_nm_barlow";
	font-size: 9px;
	margin-top: 238px;
	text-shadow: black 0 3px 2px;
	text-align: left;
	width: 327.5px;
	letter-spacing: 1px;
	margin-left: 27px;
}

#legendary_bosses .boss_hp {
	position: absolute;
	font-family: "fnt_nm_barlow_bold";
	color: #ffffff;
	font-size: 10px;
	width: 90px;
	margin-top: 224px;
	margin-left: 121px;
	text-shadow: black 0 3px 2px;
	text-align: right;
}

#legendary_bosses .enemy_payout {
	position: absolute;
	font-family: "fnt_nm_barlow_bold";
	color: #ffffff;
	font-size: 10px;
	width: 90px;
	margin-top: 239px;
	margin-left: 121px;
	text-shadow: black 0 3px 2px;
	text-align: right;
	line-height: 10px
}

#legendary_bosses .enemy_values_block{
	position: absolute;
	margin-top: 84px;
	margin-left: 0px;
}

#unstable_avatar #back{
	position: absolute;
	z-index: -1;
	margin-left: -24px;
	margin-top: -32px;
}

#unstable_avatar .exploder{
	margin-left: -12px;
	margin-right: -12px;
}

#unstable_avatar .row{
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

#unstable_avatar #fx{
	position: absolute;
	margin-left: 233px;
	margin-top: -40px;
	mix-blend-mode: screen;
}

#unstable_avatar .description {
	font-size: 11px;
	font-family: "fnt_nm_barlow_bold";
	line-height: 23px;
	text-align: center;
	margin-left: 90px;
	margin-right: 90px;
}

#weapons .description {
	font-size: 11px;
	font-family: "fnt_nm_barlow_bold";
	text-align: center;
	padding-left: 60px;
	padding-right: 60px;
	line-height: 16pt;
	margin-top: 8px;
	line-height: 11pt;
}

#weapons .texture{
	position: absolute;
	z-index: -1;
	transform: scale(2.035);
	margin-top: 121px;
	margin-left: 235px;
}

#weapons .turret{
	margin-top: -124px;
	margin-left: 20px;
	text-align: center;
}

#weapons .turret_caption{
	position: absolute;
	margin-top: -124px;
	margin-left: 290px;
	text-align: center;
	width: 300px;	
	font-family: "fnt_nm_barlow_bold";
	font-size: 11px;
	color: #ffffff;
}

#weapons .turret_available{
	position: absolute;
	margin-top: -104px;
	margin-left: 190px;
	text-align: center;
	width: 500px;
	font-family: "fnt_nm_barlow_regular";
	font-size: 10px;
}


#special_weapons .description {
	font-size: 11.3px;
	font-family: "fnt_nm_barlow";
	text-align: center;
	padding-left: 60px;
	padding-right: 60px;
	line-height: 16pt;
	margin-top: 8px;
	line-height: 11pt;
}

#special_weapons .row{
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 30px;
	padding-bottom: 90px;
}

#special_weapons .col-2{
	width: 20%;
}

#special_weapons .weapon_block{
	margin-top: -191px;
}

#special_weapons .weapon_icon{
	height: 91px;
}

#special_weapons .title{
	font-family: "fnt_nm_barlow_semibold";
	font-size: 11px;
	margin-top: -5px;
}

#special_weapons .weapon_description{
	font-size: 8.5px;
	font-family: "fnt_nm_barlow_regular";
	margin-top: 1px;
	margin-left: 7px;
	line-height: 12px;
	width: 160px;
	height: 54px;
}

#special_weapons .block{
	display: inline-block;
}

#special_weapons .cost_description{
	font-size: 9px;
	font-family: "fnt_nm_barlow_bold";
}

#special_weapons .cost_value_description{
	font-size: 13px;
	font-family: "fnt_nm_barlow_bold";
	color: #f6921e;
}

#special_weapons .sw_info{
	margin-top: -76px;
}

#money_wheel .wheel{
	text-align: center;
	margin-top: -100px;
}

#money_wheel .description {
	font-size: 11px;
	font-family: "fnt_nm_barlow_bold";
	line-height: 19px;
	text-align: center;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: -90px;
}

#kills .description {
	font-size: 11px;
	font-family: "fnt_nm_barlow_regular";
	margin-top: -44px;
	margin-left: 22px;
	margin-right: 22px;
	text-align: justify;
}

#kills .screenshot{
	margin-left: -44px;
	margin-top: -50px;
}

#kills .row{
	padding-right: 25px;
	padding-left: 25px;
	margin-top: 40px;
}

#kills .icon{
	margin-top: -13px;
	margin-left: -82px;
}

#mobile_controls_1 #back,
#controls_2 #back,
#controls_1 #back{
	position: absolute;
	z-index: -1;
	transform: scale(1.015);
	margin-left: 7px;
	margin-top: 4px;
}


#mobile_controls_1 .line,
#controls_2 .line,
#controls_1 .line{
	border-right: 1px solid white;
	height: 346px;
	position: absolute;
	margin-left: 225px;
	opacity: 0.2;
}

#mobile_controls_1 .line_weight,
#controls_1 .line_weight{
	border-right: 1px solid white;
	height: 346px;
	position: absolute;
	margin-left: 275px;
	opacity: 0.2;
}


#controls_1 .line{
	margin-left: 220px;
}

#controls_1 .line_weight{
	margin-left: 270px;
}

#controls_1 .line_weight_less{
	border-right: 1px solid white;
	height: 346px;
	position: absolute;
	margin-left: 262px;
	opacity: 0.2;
}

#mobile_controls_1 .row,
#controls_2 .row,
#controls_1 .row{
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

#mobile_controls_1 .title,
#controls_2 .title,
#controls_1 .title{
	text-align: left;
	display: flex;
}

#mobile_controls_1 .title_capture,
#controls_2 .title_capture,
#controls_1 .title_capture{
	font-family: "fnt_nm_barlow_semibold";
	color: white;
	font-size: 12px;
	margin-top: 4px;
}

#mobile_controls_1 .description,
#controls_2 .description,
#controls_1 .description{
	text-align: left;
	font-family: "fnt_nm_barlow_regular";
	font-size: 11px;
	margin-top: 6px;
}

#mobile_controls_1 .row_content,
#controls_2 .row_content,
#controls_1 .row_content{
	padding: 12px;
}


#mobile_controls_1 .sw_8,
#controls_1 .sw_8{
	position: absolute;
	margin-left: 15px;
	margin-top: -2px;
}

#mobile_controls_1 .sw_7,
#controls_1 .sw_7{
	position: absolute;	
	margin-left: 8px;
	margin-top: 22px;
}

#mobile_controls_1 .sw_1,
#controls_1 .sw_1{
	position: absolute;
	margin-left: 9px;
	margin-top: 116px;
}

#mobile_controls_1 .sw_3,
#controls_1 .sw_3{
	position: absolute;
	margin-left: 5px;
	margin-top: 151px;
}

#mobile_controls_1 .sw_5,
#controls_1 .sw_5{
	position: absolute;
	margin-left: 9px;
	margin-top: 253px;
}

#mobile_controls_1 .weapon_capture,
#controls_1 .weapon_capture {
	position: absolute;
	margin-top: 0px;
	margin-left: 112px;
	text-align: left;
}

#mobile_controls_1 .weapon_description,
#controls_1 .weapon_description {
	position: absolute;
	margin-top: 40px;
	margin-left: 112px;
	width: 130px;
}

#mobile_controls_1 .turret_img,
#controls_1 .turret_img {
	width: 88px;
	margin-top: 26px;
	margin-left: -30px;
}

#controls_2 .description_italic {
	display: inline;
	font-family: "fnt_nm_barlow_italic";
}
/*...PAGES SPECIFIC*/

/* ADDITIONAL... */
.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#controls_1 .col-1 {width: 15%;}
#controls_1 .col-2 {width: 25%;}
#controls_1 .col-3 {width: 30%;}

/* ...ADDITIONAL*/