@font-face {
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    font-style: normal;
    src: url('/css/fonts/Open-Sans-Condensed-700/Open-Sans-Condensed-700.eot');
    src: url('/css/fonts/Open-Sans-Condensed-700/Open-Sans-Condensed-700.eot?#iefix') format('embedded-opentype'),
    local('Open Sans Condensed Bold'),
    local('Open-Sans-Condensed-700'),
    url('/css/fonts/Open-Sans-Condensed-700/Open-Sans-Condensed-700.woff2') format('woff2'),
    url('/css/fonts/Open-Sans-Condensed-700/Open-Sans-Condensed-700.woff') format('woff'),
    url('/css/fonts/Open-Sans-Condensed-700/Open-Sans-Condensed-700.ttf') format('truetype'),
    url('/css/fonts/Open-Sans-Condensed-700/Open-Sans-Condensed-700.svg#OpenSansCondensed') format('svg');
}

html {
    width: 100%;
    height: 100%;
    background-color: #191919;
    overflow: hidden;
    font-size: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0;
}

.wrapper {
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    padding: 35px 50px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.border {
    background-color: #A88B04;
    background-image: -webkit-linear-gradient(bottom, rgba(168, 139, 4, 0.84), rgba(244, 215, 79, 0.84));
    background-image: -moz-linear-gradient(bottom, rgba(168, 139, 4, 0.84), rgba(244, 215, 79, 0.84));
    background-image: -o-linear-gradient(bottom, rgba(168, 139, 4, 0.84), rgba(244, 215, 79, 0.84));
    background-image: linear-gradient(0, rgba(168, 139, 4, 0.84) 0%, rgba(244, 215, 79, 0.84) 100%);

    box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    width: 1100px;
    height: 820px;
    padding: 4px;
    display: inline-block;
    position: relative;
}

.content {
    background: url(/images/error-pages/background.jpg) center no-repeat #353535;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 5px;
    display: inline-block;
    overflow: auto;
    font-size: 16px;
}

h1 {
    text-align: center;
    line-height: 1em;
    margin: 25px auto;
    color: rgb(255, 204, 0);
    text-shadow: 0 1px 1px rgba(255, 204, 0, 0.9), 0 4px 3px black;
}

p {
    color: #c2c2c1;
    text-align: center;
    margin: 5px 0;
    text-shadow: 0 3px 2px black;

    /* hack to block font boosting on android */
    max-height: 999999px;
}

p:nth-child(4) {
    margin-top: 50px;
}

.bold {
    font-weight: bold;
}

form {
    text-align: center;
}

.characters-big-right,
.characters-small-right {
    display: none;
}

.button-container {
    display: inline-block;
    background-color: #353535;
    margin-top: 150px;
    box-shadow: inset -1px 3px 10px 0 rgba(0, 0, 0, 0.81), 0 0 1px white;
    box-sizing: border-box;
    border-radius: 15px;
}

.button {
    display: inline-block;
    width: 90%;
    height: 75%;
    margin: 5%;
    padding-bottom: 7px;

    cursor: pointer;
    outline: none;

    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px rgba(148, 98, 0, 0.63), 0 2px 0 rgba(130, 100, 37, 0.69);
    color: white;

    background: url(/images/error-pages/button.png);
    background-size: 100% 100%;
    border: none;
}

.button:active {
    transform: translate(3px, 2px);
}

@media (min-width: 100px) {
    h1 {
        font-size: 10em;
    }

    p {
        font-size: 3.5em;
    }

    .button {
        font-size: 3em;
    }

    .button-container {
        width: 30em;
        height: 10em;
    }
}

@media (orientation: portrait) and (min-width: 100px) {
    p {
        font-size: 4em;
    }

    .button-container {
        width: 40em;
        height: 12em;
    }
}

@media (orientation: portrait) and (min-width: 700px) {
    .button-container {
        width: 256px;
        height: 85px;
    }
}

@media (min-width: 1200px) {
    .characters-big-left {
        position: absolute;
        width: 274px;
        height: 597px;
        bottom: -25px;
        left: -30px;
    }

    .characters-big-right {
        position: absolute;
        display: block;
        width: 440px;
        height: 616px;
        right: -44px;
        bottom: -4px;
    }

    h1 {
        font-size: 58px;
    }

    p {
        font-size: 32px;
    }

    .button-container {
        width: 256px;
        height: 85px;
    }

    .button {
        font-size: 24px;
    }
}

@media (max-width: 1199px), (max-height: 899px) {
    .characters-big-left {
        position: absolute;
        max-width: 38%;
        max-height: 85%;
        bottom: -10px;
        left: -25px;
    }

    .characters-small-right {
        position: absolute;
        display: block;
        max-width: 45%;
        max-height: 55%;
        min-height: 30%;
        right: 0;
        bottom: -12px;
    }

    .characters-big-right {
        display: none;
    }

    .wrapper {
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    .border {
        width: 100%;
        height: 100%;
    }

    .content {
        background-size: 100% 100%;
    }
}

@media (min-width: 700px) {
    .characters-big-left {
        max-height: 70%;
    }
}

@media (max-height: 899px) {
    h1 {
        margin: 2vh auto;
    }

    .button-container {
        margin-top: 5vh;
    }

    p:nth-child(4) {
        margin-top: 3vh;
    }
}

@media (max-height: 560px) {
    h1 {
        margin: 1vh auto;
    }

    p {
        margin: 2px 0;
    }

    .button-container {
        margin-top: 1vh;
    }
}