<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>mqb-prod</id>
            <properties>
                <logger.dir>/www/logs/tomcat.mp/</logger.dir>
                <logger.file-size-limit>10</logger.file-size-limit>
                <logger.file-startup-limit>1</logger.file-startup-limit>
                <cassandra.hosts>c1:9042,c2:9042,c3:9042,c4:9042</cassandra.hosts>
                <cassandra.contact-points>c1,c2,c3,c4</cassandra.contact-points>
                <cassandra.metadata.keyspaceName>MPMQB2</cassandra.metadata.keyspaceName>
                <cassandra.replicationFactor>3</cassandra.replicationFactor>
                <hz.instance.name>mp-mqb</hz.instance.name>
                <hz.group.password>siberteam</hz.group.password>
                <hz.network.port>5701</hz.network.port>
                <hz.group.name>mp-mqb</hz.group.name>
                <hz.network.members>gs1,gs2,gs3</hz.network.members>
                <hz.management.center.enabled>false</hz.management.center.enabled>
                <hz.management.center.url>http://localhost:8081/mancenter</hz.management.center.url>
                <hz.env>list</hz.env> <!-- Options: kubernetes, gcp, multicast, list -->
                <ntp.host>ntp</ntp.host>
                <remote.env>dev</remote.env>
                <mpserver.domain>-mp-gcp.maxquest.com</mpserver.domain>
                <mpserver.domain.servername>gs#</mpserver.domain.servername>
                <server.port>8081</server.port>
                <server.jetty.host>local</server.jetty.host>
                <server.jetty.port>8082</server.jetty.port>
                <server.jetty.webroot>file:/www/html/mp/ROOT/</server.jetty.webroot>
                <teststand.excludes>/teststand.jsp,/teststandConfig.jsp</teststand.excludes>
                <cluster.name>mqb2-live</cluster.name>
                <mqb.botserver.thift.host>gs4-ats</mqb.botserver.thift.host>
                <mqb.botserver.thift.port>6400</mqb.botserver.thift.port>
                <google.cloud.project.id>mq-legacy-games</google.cloud.project.id>
                <google.cloud.bigquery.dataset.name>mqmp_prod</google.cloud.bigquery.dataset.name>
                <google.cloud.bigquery.connect.timeout>5000</google.cloud.bigquery.connect.timeout>
                <google.cloud.bigquery.valid.currencies>MMC,MQC</google.cloud.bigquery.valid.currencies>
                <google.cloud.bigquery.enabled>true</google.cloud.bigquery.enabled>
                <canex.async.request.number.of.threads>2</canex.async.request.number.of.threads>
                <websocket.latency.interval.sec>20</websocket.latency.interval.sec>
                <websocket.latency.threshold.ms>200</websocket.latency.threshold.ms>
                <websocket.latency.game.session.threshold.ms>200</websocket.latency.game.session.threshold.ms>
                <websocket.latency.standard.type.enabled>false</websocket.latency.standard.type.enabled>
                <websocket.latency.ping.type.enabled>true</websocket.latency.ping.type.enabled>
                <room.state.monitor.enabled>true</room.state.monitor.enabled>
                <room.state.monitor.period>20000</room.state.monitor.period>
                <maxblastchampions.bg.private.startround.players.min>4</maxblastchampions.bg.private.startround.players.min>
                <kafka.hosts>kafka:9092</kafka.hosts>
                <kafka.topic.send.to.gs>to_gs_topic</kafka.topic.send.to.gs>
                <kafka.topic.reply.from.gs>to_gs_topic_response</kafka.topic.reply.from.gs>
                <kafka.topic.receive.from.gs>to_mp_topic</kafka.topic.receive.from.gs>
                <kafka.topic.reply.to.gs>to_mp_topic_response</kafka.topic.reply.to.gs>
                <kafka.topic.send.in-service>from_mp_to_mp_topic</kafka.topic.send.in-service>
                <kafka.topic.reply.in-service>from_mp_to_mp_topic_response</kafka.topic.reply.in-service>
                <kafka.topic.send.to.bs>to_bs_topic</kafka.topic.send.to.bs>
                <kafka.topic.reply.from.bs>to_bs_topic_response</kafka.topic.reply.from.bs>
                <kafka.timeout.ms>5000</kafka.timeout.ms>
            </properties>
        </profile>
        <profile>
            <id>mqb-pre-prod</id>
            <properties>
                <logger.dir>/www/logs/tomcat.mp/</logger.dir>
                <logger.file-size-limit>10</logger.file-size-limit>
                <logger.file-startup-limit>1</logger.file-startup-limit>
                <cassandra.hosts>c1:9042,c2:9042,c3:9042,c4:9042</cassandra.hosts>
                <cassandra.contact-points>c1,c2,c3,c4</cassandra.contact-points>
                <cassandra.metadata.keyspaceName>MPMQB</cassandra.metadata.keyspaceName>
                <cassandra.replicationFactor>3</cassandra.replicationFactor>
                <hz.instance.name>mp-mqb</hz.instance.name>
                <hz.group.password>siberteam</hz.group.password>
                <hz.network.port>5701</hz.network.port>
                <hz.group.name>mp-mqb</hz.group.name>
                <hz.network.members>gs1,gs2,gs3</hz.network.members>
                <hz.management.center.enabled>false</hz.management.center.enabled>
                <hz.management.center.url>http://localhost:8081/mancenter</hz.management.center.url>
                <hz.env>list</hz.env> <!-- Options: kubernetes, gcp, multicast, list -->
                <ntp.host>ntp</ntp.host>
                <remote.env>dev</remote.env>
                <mpserver.domain>-mp.mqbase.com</mpserver.domain>
                <mpserver.domain.servername>gs#</mpserver.domain.servername>
                <server.port>8081</server.port>
                <server.jetty.host>local</server.jetty.host>
                <server.jetty.port>8082</server.jetty.port>
                <server.jetty.webroot>file:/www/html/mp/ROOT/</server.jetty.webroot>
                <teststand.excludes>/teststand.jsp,/teststandConfig.jsp</teststand.excludes>
                <cluster.name>mqb-live</cluster.name>
                <mqb.botserver.thift.host>gs1</mqb.botserver.thift.host>
                <mqb.botserver.thift.port>6400</mqb.botserver.thift.port>
                <google.cloud.project.id>pre-prod-maxquest</google.cloud.project.id>
                <google.cloud.bigquery.dataset.name>mqmp_pre_prod</google.cloud.bigquery.dataset.name>
                <google.cloud.bigquery.connect.timeout>5000</google.cloud.bigquery.connect.timeout>
                <google.cloud.bigquery.valid.currencies>MMC,MQC</google.cloud.bigquery.valid.currencies>
                <google.cloud.bigquery.enabled>true</google.cloud.bigquery.enabled>
                <canex.async.request.number.of.threads>2</canex.async.request.number.of.threads>
                <websocket.latency.interval.sec>20</websocket.latency.interval.sec>
                <websocket.latency.threshold.ms>200</websocket.latency.threshold.ms>
                <websocket.latency.game.session.threshold.ms>200</websocket.latency.game.session.threshold.ms>
                <websocket.latency.standard.type.enabled>false</websocket.latency.standard.type.enabled>
                <websocket.latency.ping.type.enabled>true</websocket.latency.ping.type.enabled>
                <room.state.monitor.enabled>true</room.state.monitor.enabled>
                <room.state.monitor.period>20000</room.state.monitor.period>
                <maxblastchampions.bg.private.startround.players.min>4</maxblastchampions.bg.private.startround.players.min>
                <kafka.hosts>kafka:9092</kafka.hosts>
                <kafka.topic.send.to.gs>to_gs_topic</kafka.topic.send.to.gs>
                <kafka.topic.reply.from.gs>to_gs_topic_response</kafka.topic.reply.from.gs>
                <kafka.topic.receive.from.gs>to_mp_topic</kafka.topic.receive.from.gs>
                <kafka.topic.reply.to.gs>to_mp_topic_response</kafka.topic.reply.to.gs>
                <kafka.topic.send.in-service>from_mp_to_mp_topic</kafka.topic.send.in-service>
                <kafka.topic.reply.in-service>from_mp_to_mp_topic_response</kafka.topic.reply.in-service>
                <kafka.topic.send.to.bs>to_bs_topic</kafka.topic.send.to.bs>
                <kafka.topic.reply.from.bs>to_bs_topic_response</kafka.topic.reply.from.bs>
                <kafka.timeout.ms>5000</kafka.timeout.ms>
            </properties>
        </profile>
        <profile>
            <id>mqb-stress</id>
            <properties>
                <logger.dir>/www/logs/tomcat.mp/</logger.dir>
                <logger.file-size-limit>100</logger.file-size-limit>
                <logger.file-startup-limit>1</logger.file-startup-limit>
                <cassandra.hosts>c1:9042,c2:9042,c3:9042,c4:9042</cassandra.hosts>
                <cassandra.contact-points>c1,c2,c3,c4</cassandra.contact-points>
                <cassandra.metadata.keyspaceName>MPMAIN</cassandra.metadata.keyspaceName>
                <cassandra.replicationFactor>3</cassandra.replicationFactor>
                <hz.instance.name>mp-mqb-stress</hz.instance.name>
                <hz.group.password>siberteam</hz.group.password>
                <hz.network.port>5701</hz.network.port>
                <hz.group.name>mp-mqb</hz.group.name>
                <hz.network.members>gs1,gs2,gs3,gs4</hz.network.members>
                <hz.management.center.enabled>false</hz.management.center.enabled>
                <hz.management.center.url>http://localhost:8081/mancenter</hz.management.center.url>
                <hz.env>list</hz.env> <!-- Options: kubernetes, gcp, multicast, list -->
                <ntp.host>ntp</ntp.host>
                <remote.env>dev</remote.env>
                <mpserver.domain>-mp-stress.betsoftgaming.com</mpserver.domain>
                <mpserver.domain.servername>gs#</mpserver.domain.servername>
                <server.port>8081</server.port>
                <server.jetty.host>local</server.jetty.host>
                <server.jetty.port>8082</server.jetty.port>
                <server.jetty.webroot>file:/www/html/mp/ROOT/</server.jetty.webroot>
                <teststand.excludes>/teststand.jsp,/teststandConfig.jsp</teststand.excludes>
                <cluster.name>mqb-stress</cluster.name>
                <mqb.botserver.thift.host>gs1</mqb.botserver.thift.host>
                <mqb.botserver.thift.port>6400</mqb.botserver.thift.port>
                <google.cloud.project.id>test-maxquest</google.cloud.project.id>
                <google.cloud.bigquery.dataset.name>mqmp_dev</google.cloud.bigquery.dataset.name>
                <google.cloud.bigquery.connect.timeout>5000</google.cloud.bigquery.connect.timeout>
                <google.cloud.bigquery.valid.currencies>MMC,MQC</google.cloud.bigquery.valid.currencies>
                <google.cloud.bigquery.enabled>false</google.cloud.bigquery.enabled>
                <canex.async.request.number.of.threads>2</canex.async.request.number.of.threads>
                <websocket.latency.interval.sec>20</websocket.latency.interval.sec>
                <websocket.latency.threshold.ms>200</websocket.latency.threshold.ms>
                <websocket.latency.game.session.threshold.ms>200</websocket.latency.game.session.threshold.ms>
                <websocket.latency.standard.type.enabled>false</websocket.latency.standard.type.enabled>
                <websocket.latency.ping.type.enabled>true</websocket.latency.ping.type.enabled>
                <room.state.monitor.enabled>false</room.state.monitor.enabled>
                <room.state.monitor.period>20000</room.state.monitor.period>
                <maxblastchampions.bg.private.startround.players.min>4</maxblastchampions.bg.private.startround.players.min>
                <kafka.hosts>kafka:9092</kafka.hosts>
                <kafka.topic.send.to.gs>to_gs_topic</kafka.topic.send.to.gs>
                <kafka.topic.reply.from.gs>to_gs_topic_response</kafka.topic.reply.from.gs>
                <kafka.topic.receive.from.gs>to_mp_topic</kafka.topic.receive.from.gs>
                <kafka.topic.reply.to.gs>to_mp_topic_response</kafka.topic.reply.to.gs>
                <kafka.topic.send.in-service>from_mp_to_mp_topic</kafka.topic.send.in-service>
                <kafka.topic.reply.in-service>from_mp_to_mp_topic_response</kafka.topic.reply.in-service>
                <kafka.topic.send.to.bs>to_bs_topic</kafka.topic.send.to.bs>
                <kafka.topic.reply.from.bs>to_bs_topic_response</kafka.topic.reply.from.bs>
                <kafka.timeout.ms>5000</kafka.timeout.ms>
            </properties>
        </profile>
        <profile>
            <id>mqb-test</id>
            <properties>
                <logger.dir>/www/logs/tomcat.mp/</logger.dir>
                <logger.file-size-limit>10</logger.file-size-limit>
                <logger.file-startup-limit>1</logger.file-startup-limit>
                <cassandra.hosts>c1:9042,c2:9042,c3:9042,c4:9042</cassandra.hosts>
                <cassandra.contact-points>c1,c2,c3,c4</cassandra.contact-points>
                <cassandra.metadata.keyspaceName>MPMQB2</cassandra.metadata.keyspaceName>
                <cassandra.replicationFactor>3</cassandra.replicationFactor>
                <hz.instance.name>mp-mqb</hz.instance.name>
                <hz.group.password>siberteam</hz.group.password>
                <hz.network.port>5701</hz.network.port>
                <hz.group.name>mp-mqb</hz.group.name>
                <hz.network.members>gs1,gs2,gs3</hz.network.members>
                <hz.management.center.enabled>false</hz.management.center.enabled>
                <hz.management.center.url>http://localhost:8081/mancenter</hz.management.center.url>
                <hz.env>list</hz.env> <!-- Options: kubernetes, gcp, multicast, list -->
                <ntp.host>ntp</ntp.host>
                <remote.env>dev</remote.env>
                <mpserver.domain>-mp-test.maxquest.com</mpserver.domain>
                <mpserver.domain.servername>gs#</mpserver.domain.servername>
                <server.port>8081</server.port>
                <server.jetty.host>local</server.jetty.host>
                <server.jetty.port>8082</server.jetty.port>
                <server.jetty.webroot>file:/www/html/mp/ROOT/</server.jetty.webroot>
                <teststand.excludes>/teststand.jsp,/teststandConfig.jsp</teststand.excludes>
                <cluster.name>mqb2-live</cluster.name>
                <mqb.botserver.thift.host>gs1</mqb.botserver.thift.host>
                <mqb.botserver.thift.port>6400</mqb.botserver.thift.port>
                <google.cloud.project.id>test-maxquest</google.cloud.project.id>
                <google.cloud.bigquery.dataset.name>mqmp_test</google.cloud.bigquery.dataset.name>
                <google.cloud.bigquery.connect.timeout>5000</google.cloud.bigquery.connect.timeout>
                <google.cloud.bigquery.valid.currencies>MMC,MQC</google.cloud.bigquery.valid.currencies>
                <google.cloud.bigquery.enabled>true</google.cloud.bigquery.enabled>
                <canex.async.request.number.of.threads>2</canex.async.request.number.of.threads>
                <websocket.latency.interval.sec>20</websocket.latency.interval.sec>
                <websocket.latency.threshold.ms>200</websocket.latency.threshold.ms>
                <websocket.latency.game.session.threshold.ms>200</websocket.latency.game.session.threshold.ms>
                <websocket.latency.standard.type.enabled>false</websocket.latency.standard.type.enabled>
                <websocket.latency.ping.type.enabled>true</websocket.latency.ping.type.enabled>
                <room.state.monitor.enabled>true</room.state.monitor.enabled>
                <room.state.monitor.period>20000</room.state.monitor.period>
                <maxblastchampions.bg.private.startround.players.min>4</maxblastchampions.bg.private.startround.players.min>
                <kafka.hosts>kafka:9092</kafka.hosts>
                <kafka.topic.send.to.gs>to_gs_topic</kafka.topic.send.to.gs>
                <kafka.topic.reply.from.gs>to_gs_topic_response</kafka.topic.reply.from.gs>
                <kafka.topic.receive.from.gs>to_mp_topic</kafka.topic.receive.from.gs>
                <kafka.topic.reply.to.gs>to_mp_topic_response</kafka.topic.reply.to.gs>
                <kafka.topic.send.in-service>from_mp_to_mp_topic</kafka.topic.send.in-service>
                <kafka.topic.reply.in-service>from_mp_to_mp_topic_response</kafka.topic.reply.in-service>
                <kafka.topic.send.to.bs>to_bs_topic</kafka.topic.send.to.bs>
                <kafka.topic.reply.from.bs>to_bs_topic_response</kafka.topic.reply.from.bs>
                <kafka.timeout.ms>5000</kafka.timeout.ms>
            </properties>
        </profile>
        <profile>
            <id>development_maxduel</id>
            <properties>
                <logger.dir>/www/logs/tomcat.mp/</logger.dir>
                <logger.file-size-limit>10</logger.file-size-limit>
                <logger.file-startup-limit>1</logger.file-startup-limit>
                <cassandra.hosts>c1.gsmp.lan:9042,c2.gsmp.lan:9042,c3.gsmp.lan:9042</cassandra.hosts>
                <cassandra.contact-points>c1,c2,c3</cassandra.contact-points>
                <cassandra.metadata.keyspaceName>MPMQB2</cassandra.metadata.keyspaceName>
                <cassandra.replicationFactor>3</cassandra.replicationFactor>
                <hz.instance.name>mp-mqb</hz.instance.name>
                <hz.group.password>siberteam</hz.group.password>
                <hz.network.port>5701</hz.network.port>
                <hz.group.name>mp-mqb</hz.group.name>
                <hz.network.members>gsmp1.gsmp.lan,gsmp2.gsmp.lan,gsmp3.gsmp.lan</hz.network.members>
                <hz.management.center.enabled>false</hz.management.center.enabled>
                <hz.management.center.url>http://localhost:8081/mancenter</hz.management.center.url>
                <hz.env>gcp</hz.env> <!-- Options: kubernetes, gcp, multicast, list -->
                <hz.gcp.project>maxduel-dev01</hz.gcp.project>
                <hz.gcp.zone>europe-west1-b</hz.gcp.zone>
                <ntp.host>ntp</ntp.host>
                <remote.env>dev</remote.env>
                <mpserver.domain>-mp.mdtest.io</mpserver.domain>
                <mpserver.domain.servername>gs#</mpserver.domain.servername>
                <server.port>8081</server.port>
                <server.jetty.host>local</server.jetty.host>
                <server.jetty.port>8082</server.jetty.port>
                <server.jetty.webroot>file:/www/html/mp/ROOT/</server.jetty.webroot>
                <teststand.excludes>/teststand.jsp,/teststandConfig.jsp</teststand.excludes>
                <cluster.name>mqb2-live</cluster.name>
                <mqb.botserver.thift.host>gsmp4.gsmp.lan</mqb.botserver.thift.host>
                <mqb.botserver.thift.port>6400</mqb.botserver.thift.port>
                <google.cloud.project.id>maxduel-dev01</google.cloud.project.id>
                <google.cloud.bigquery.dataset.name>md_dev01_legacy</google.cloud.bigquery.dataset.name>
                <google.cloud.bigquery.connect.timeout>5000</google.cloud.bigquery.connect.timeout>
                <google.cloud.bigquery.valid.currencies>MMC,MQC</google.cloud.bigquery.valid.currencies>
                <google.cloud.bigquery.enabled>true</google.cloud.bigquery.enabled>
                <canex.async.request.number.of.threads>2</canex.async.request.number.of.threads>
                <websocket.latency.interval.sec>20</websocket.latency.interval.sec>
                <websocket.latency.threshold.ms>200</websocket.latency.threshold.ms>
                <websocket.latency.game.session.threshold.ms>200</websocket.latency.game.session.threshold.ms>
                <websocket.latency.standard.type.enabled>false</websocket.latency.standard.type.enabled>
                <websocket.latency.ping.type.enabled>true</websocket.latency.ping.type.enabled>
                <room.state.monitor.enabled>true</room.state.monitor.enabled>
                <room.state.monitor.period>20000</room.state.monitor.period>
                <maxblastchampions.bg.private.startround.players.min>4</maxblastchampions.bg.private.startround.players.min>
                <kafka.hosts>kafka1.gsmp.lan:9092</kafka.hosts>
                <zookeeper.connect>zookeeper1.gsmp.lan:2181</zookeeper.connect>
                <zookeeper.pool-size>5</zookeeper.pool-size>
            </properties>
        </profile>
        <profile>
            <id>pre-prod_maxduel</id>
            <properties>
                <logger.dir>/www/logs/tomcat.mp/</logger.dir>
                <logger.file-size-limit>10</logger.file-size-limit>
                <logger.file-startup-limit>1</logger.file-startup-limit>
                <cassandra.hosts>c1.gsmp.lan:9042,c2.gsmp.lan:9042,c3.gsmp.lan:9042</cassandra.hosts>
                <cassandra.contact-points>c1,c2,c3</cassandra.contact-points>
                <cassandra.metadata.keyspaceName>MPMQB2</cassandra.metadata.keyspaceName>
                <cassandra.replicationFactor>3</cassandra.replicationFactor>
                <hz.instance.name>mp-mqb</hz.instance.name>
                <hz.group.password>siberteam</hz.group.password>
                <hz.network.port>5701</hz.network.port>
                <hz.group.name>mp-mqb</hz.group.name>
                <hz.network.members>gsmp1.gsmp.lan,gsmp2.gsmp.lan,gsmp3.gsmp.lan</hz.network.members>
                <hz.management.center.enabled>false</hz.management.center.enabled>
                <hz.management.center.url>http://localhost:8081/mancenter</hz.management.center.url>
                <hz.env>gcp</hz.env> <!-- Options: kubernetes, gcp, multicast, list -->
                <hz.gcp.project>maxduel-stage01</hz.gcp.project>
                <hz.gcp.zone>us-central1-b</hz.gcp.zone>
                <ntp.host>ntp</ntp.host>
                <remote.env>dev</remote.env>
                <mpserver.domain>-mp.mdbase.io</mpserver.domain>
                <mpserver.domain.servername>gs#</mpserver.domain.servername>
                <thrift.domain>.gsmp.lan</thrift.domain>
                <thrift.gs.port>6000</thrift.gs.port>
                <thrift.host>gs#.gsmp.lan</thrift.host>
                <thrift.port>6100</thrift.port>
                <thrift.timeout>2000</thrift.timeout>
                <game.servers>1,2,3</game.servers>
                <server.port>8081</server.port>
                <server.jetty.host>local</server.jetty.host>
                <server.jetty.port>8082</server.jetty.port>
                <server.jetty.webroot>file:/www/html/mp/ROOT/</server.jetty.webroot>
                <teststand.excludes>/teststand.jsp,/teststandConfig.jsp</teststand.excludes>
                <cluster.name>mqb2-live</cluster.name>
                <mqb.botserver.thift.host>gsmp4.gsmp.lan</mqb.botserver.thift.host>
                <mqb.botserver.thift.port>6400</mqb.botserver.thift.port>
                <google.cloud.project.id>maxduel-stage01</google.cloud.project.id>
                <google.cloud.bigquery.dataset.name>md_stage01_legacy</google.cloud.bigquery.dataset.name>
                <google.cloud.bigquery.connect.timeout>5000</google.cloud.bigquery.connect.timeout>
                <google.cloud.bigquery.valid.currencies>MMC,MQC</google.cloud.bigquery.valid.currencies>
                <google.cloud.bigquery.enabled>true</google.cloud.bigquery.enabled>
                <canex.async.request.number.of.threads>2</canex.async.request.number.of.threads>
                <websocket.latency.interval.sec>20</websocket.latency.interval.sec>
                <websocket.latency.threshold.ms>200</websocket.latency.threshold.ms>
                <websocket.latency.game.session.threshold.ms>200</websocket.latency.game.session.threshold.ms>
                <websocket.latency.standard.type.enabled>false</websocket.latency.standard.type.enabled>
                <websocket.latency.ping.type.enabled>true</websocket.latency.ping.type.enabled>
                <room.state.monitor.enabled>true</room.state.monitor.enabled>
                <room.state.monitor.period>20000</room.state.monitor.period>
                <maxblastchampions.bg.private.startround.players.min>4</maxblastchampions.bg.private.startround.players.min>
                <kafka.hosts>kafka1.gsmp.lan:9092</kafka.hosts>
                <zookeeper.connect>zookeeper1.gsmp.lan:2181</zookeeper.connect>
                <zookeeper.pool-size>10</zookeeper.pool-size>
            </properties>
        </profile>
        <profile>
            <id>production_maxduel</id>
            <properties>
                <logger.dir>/www/logs/tomcat.mp/</logger.dir>
                <logger.file-size-limit>10</logger.file-size-limit>
                <logger.file-startup-limit>1</logger.file-startup-limit>
                <cassandra.hosts>c1.gsmp.lan:9042,c2.gsmp.lan:9042,c3.gsmp.lan:9042</cassandra.hosts>
                <cassandra.contact-points>c1,c2,c3</cassandra.contact-points>
                <cassandra.metadata.keyspaceName>MPMQB2</cassandra.metadata.keyspaceName>
                <cassandra.replicationFactor>3</cassandra.replicationFactor>
                <hz.instance.name>mp-mqb</hz.instance.name>
                <hz.group.password>siberteam</hz.group.password>
                <hz.network.port>5701</hz.network.port>
                <hz.group.name>mp-mqb</hz.group.name>
                <hz.network.members>gsmp1.gsmp.lan,gsmp2.gsmp.lan,gsmp3.gsmp.lan</hz.network.members>
                <hz.management.center.enabled>false</hz.management.center.enabled>
                <hz.management.center.url>http://localhost:8081/mancenter</hz.management.center.url>
                <hz.env>gcp</hz.env> <!-- Options: kubernetes, gcp, multicast, list -->
                <hz.gcp.project>maxduel-prod01</hz.gcp.project>
                <hz.gcp.zone>us-central1-b</hz.gcp.zone>
                <ntp.host>ntp</ntp.host>
                <remote.env>dev</remote.env>
                <mpserver.domain>-mp.maxduel.com</mpserver.domain>
                <mpserver.domain.servername>gs#</mpserver.domain.servername>
                <server.port>8081</server.port>
                <server.jetty.host>local</server.jetty.host>
                <server.jetty.port>8082</server.jetty.port>
                <server.jetty.webroot>file:/www/html/mp/ROOT/</server.jetty.webroot>
                <teststand.excludes>/teststand.jsp,/teststandConfig.jsp</teststand.excludes>
                <cluster.name>mqb2-live</cluster.name>
                <mqb.botserver.thift.host>gsmp4.gsmp.lan</mqb.botserver.thift.host>
                <mqb.botserver.thift.port>6400</mqb.botserver.thift.port>
                <google.cloud.project.id>maxduel-prod01</google.cloud.project.id>
                <google.cloud.bigquery.dataset.name>md_prod01_legacy</google.cloud.bigquery.dataset.name>
                <google.cloud.bigquery.connect.timeout>5000</google.cloud.bigquery.connect.timeout>
                <google.cloud.bigquery.valid.currencies>MMC,MQC</google.cloud.bigquery.valid.currencies>
                <google.cloud.bigquery.enabled>true</google.cloud.bigquery.enabled>
                <canex.async.request.number.of.threads>2</canex.async.request.number.of.threads>
                <websocket.latency.interval.sec>20</websocket.latency.interval.sec>
                <websocket.latency.threshold.ms>200</websocket.latency.threshold.ms>
                <websocket.latency.game.session.threshold.ms>200</websocket.latency.game.session.threshold.ms>
                <websocket.latency.standard.type.enabled>false</websocket.latency.standard.type.enabled>
                <websocket.latency.ping.type.enabled>true</websocket.latency.ping.type.enabled>
                <room.state.monitor.enabled>true</room.state.monitor.enabled>
                <room.state.monitor.period>20000</room.state.monitor.period>
                <maxblastchampions.bg.private.startround.players.min>4</maxblastchampions.bg.private.startround.players.min>
                <kafka.hosts>kafka1.gsmp.lan:9092</kafka.hosts>
                <zookeeper.connect>zookeeper1.gsmp.lan:2181</zookeeper.connect>
                <zookeeper.pool-size>10</zookeeper.pool-size>
            </properties>
        </profile>
        <profile>
            <id>volc-develop</id>
            <properties>
                <logger.dir>/www/logs/tomcat.mp/</logger.dir>
                <logger.file-size-limit>10</logger.file-size-limit>
                <logger.file-startup-limit>1</logger.file-startup-limit>
                <cassandra.hosts>c1:9042</cassandra.hosts>
                <cassandra.contact-points>c1</cassandra.contact-points>
                <cassandra.metadata.keyspaceName>MPMQB2</cassandra.metadata.keyspaceName>
                <cassandra.readConsistencyLevel>LOCAL_ONE</cassandra.readConsistencyLevel>
                <cassandra.writeConsistencyLevel>LOCAL_ONE</cassandra.writeConsistencyLevel>
                <cassandra.replicationFactor>1</cassandra.replicationFactor>
                <hz.instance.name>mp-mqb</hz.instance.name>
                <hz.group.password>siberteam</hz.group.password>
                <hz.network.port>5701</hz.network.port>
                <hz.group.name>mp-mqb</hz.group.name>
                <hz.network.members>gs</hz.network.members>
                <hz.management.center.enabled>false</hz.management.center.enabled>
                <hz.management.center.url>http://localhost:8081/mancenter</hz.management.center.url>
                <hz.env>multicast</hz.env> <!-- Options: kubernetes, gcp, multicast, list -->
                <ntp.host>ntp</ntp.host>
                <remote.env>dev</remote.env>
                <mpserver.domain>-local.mydomain</mpserver.domain>
                <mpserver.domain.servername>gs#</mpserver.domain.servername>
                <server.port>8081</server.port>
                <server.jetty.host>local</server.jetty.host>
                <server.jetty.port>8082</server.jetty.port>
                <server.jetty.webroot>file:/www/html/mp/ROOT/</server.jetty.webroot>
                <teststand.excludes>/teststand.jsp,/teststandConfig.jsp</teststand.excludes>
                <cluster.name>mqb2-live</cluster.name>
                <mqb.botserver.thift.host>gs</mqb.botserver.thift.host>
                <mqb.botserver.thift.port>6400</mqb.botserver.thift.port>
                <google.cloud.project.id>test-maxquest</google.cloud.project.id>
                <google.cloud.bigquery.dataset.name>mqmp_test</google.cloud.bigquery.dataset.name>
                <google.cloud.bigquery.connect.timeout>5000</google.cloud.bigquery.connect.timeout>
                <google.cloud.bigquery.valid.currencies>MMC,MQC</google.cloud.bigquery.valid.currencies>
                <google.cloud.bigquery.enabled>false</google.cloud.bigquery.enabled>
                <canex.async.request.number.of.threads>2</canex.async.request.number.of.threads>
                <websocket.latency.interval.sec>20</websocket.latency.interval.sec>
                <websocket.latency.threshold.ms>200</websocket.latency.threshold.ms>
                <websocket.latency.game.session.threshold.ms>200</websocket.latency.game.session.threshold.ms>
                <websocket.latency.standard.type.enabled>false</websocket.latency.standard.type.enabled>
                <websocket.latency.ping.type.enabled>false</websocket.latency.ping.type.enabled>
                <room.state.monitor.enabled>true</room.state.monitor.enabled>
                <room.state.monitor.period>60000</room.state.monitor.period>
                <maxblastchampions.bg.private.startround.players.min>2</maxblastchampions.bg.private.startround.players.min>
                <kafka.hosts>kafka:9092</kafka.hosts>
                <kafka.topic.send.to.gs>to_gs_topic</kafka.topic.send.to.gs>
                <kafka.topic.reply.from.gs>to_gs_topic_response</kafka.topic.reply.from.gs>
                <kafka.topic.receive.from.gs>to_mp_topic</kafka.topic.receive.from.gs>
                <kafka.topic.reply.to.gs>to_mp_topic_response</kafka.topic.reply.to.gs>
                <kafka.topic.send.in-service>from_mp_to_mp_topic</kafka.topic.send.in-service>
                <kafka.topic.reply.in-service>from_mp_to_mp_topic_response</kafka.topic.reply.in-service>
                <kafka.topic.send.to.bs>to_bs_topic</kafka.topic.send.to.bs>
                <kafka.topic.reply.from.bs>to_bs_topic_response</kafka.topic.reply.from.bs>
                <kafka.timeout.ms>5000</kafka.timeout.ms>
                <zookeeper.connect>zookeeper:2181</zookeeper.connect>
                <zookeeper.pool-size>1</zookeeper.pool-size>
            </properties>
        </profile>
    </profiles>

</settings>
